.all {
  font-family: "Poppins", sans-seri;
  width: 550px;
  margin: 0 auto;
}

h1 {
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
button {
  text-decoration: none;
  border: none;
  background-color: transparent;
}

.details,
.forecast {
  background: rgb(215, 208, 208, 0.5);
  border-radius: 15px;
  position: relative;
  top: 115px;
  left: 26px;
  padding: 10px;
}

.forecast {
  text-align: center;
  margin-top: 15px;
}

.search {
  position: relative;
  top: 80px;
  opacity: 0.7;
  left: 26px;
}

.col-6 {
  padding-top: 20px;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  color: black;
  cursor: default;
  text-decoration: none;
}

.gitHub {
  text-align: center;
  position: relative;
  top: 165px;
  left: 26px;
}

.temperature-forecast {
  font-size: 13px;
}
